body {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 25vw 100vh;
}

main {
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 99vh;
}

.cards {
    width: 35vw;
    height: 100vh;
}

.card__front {
    background-image: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 380px;
    height: 180px;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 10px;
}

.card__front svg {
    margin: 10px;
    display: flex;
}

.card__front ul {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 0px;
    list-style: none;
}
.card__number {
    font-size: 30px;
}

.card__name-date {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.card__back {
    background-image: url(images/bg-card-back.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 380px;
    height: 180px;
    margin-top: 1.5%;
    margin-left: 35%;
    border-radius: 10px;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-box {
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.input-box, input {
    width: 300px;
    height: 70px;
    border-color: rgb(88, 8, 185);
    border-radius: 10px;
    border-width: 1.5px;
    text-decoration: none;
}

.input-box, label {
    display: flex;
    flex-direction: column;
}